body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

img {
  user-select: none;
}

button {
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: lightgrey;

  border-top-left-radius: 2.5px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 50px;

  background: linear-gradient(
    to bottom,
    #ECF0F1 0%,
    #D0D3D4 100%
  );
}

::-webkit-scrollbar-thumb {
  background-color: #3498DB;

  border-top-left-radius: 2.5px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 50px;
}

/*

MEDIA QUERIES FOR MOBILE / TABLET / DESKTOP LAYOUT

@media (max-width:520px) {
}

@media (max-width:999px) and (min-width:521px) {
}

*/
