
# Python (Temp)
.pytest_cache
__pycache__

# Sqlite (Files)
*.sqlite3
*.sqlite3-journal

# Developer Envrionment
.vscode/
.idea/

# Overlord (Files)
o
*.key
/web
!/web/__init__.py
/api
!/api/__init__.py
!/api/apps.py
!/api/README.md
!/api/user
!/api/post
!/api/recipe
!api/migrations/__init__.py

# Overlord (Directories)
.logs/
.config/
clients/
!clients/shared
!clients/README.md
static/
