# Python (Temp)
.pytest_cache
__pycache__

# Sqlite (Files)
*.sqlite3
*.sqlite3-journal

# Developer Envrionment
/.vscode
/.idea

# Overlord (Files)
/o
/*.key
/web
!/web/wsgi.py
!/web/__init__.py

# Overlord (Directories)
/.logs
/.config
/clients
!/clients/shared
/core/migrations
/static/.temp
# /static/*
/api
!/api/__init__.py
!/api/apps.py
!/api/migrations/__init__.py
