
# Overlord Essential Packages
django==4.0.6
cors==1.0.1
django-cors-headers==3.11.0
whitenoise==6.0.0
cryptography==37.0.4

# Overlord Developer Packages
pylint==3.0.0a4
pytest==7.0.1
pytest-django==4.5.2
django-extensions==3.1.5

# My Project Packages
# *******************
# List your project
# specific
# requirements here.
# *******************
