.main-app-divider {
    top: 104px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 16px;
    position: fixed;
    pointer-events: none;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,0) 100%
    );

}

.main-app-container {
    padding-top: 164px;
    display: block;
}
