
.popApp-container {
    display: none;
}

.popApp-container-selected {
    display: block;
    z-index: -1;
    width: 90%;
    word-wrap: break-word;
    width: 88%;
    min-height: calc(100vh - 148px);

    margin: -64px 5% 0 5%;
    padding: 48px 1% 0 1%;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.app-toolbar-container {
    top: calc(124px + 5vh);
    right: calc(5% - 36px);
    width: 36px;
    display: block;
    position: fixed;
}

.app-toolbar-button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 6px 0 6px 6px;
    padding: 2px 2px 2px 2px;
}

.atb-selected {
    border: 1px solid black;
    background-color: lightgrey;
}

@media (max-width:520px) {
    .popApp-container-selected {
        width: 96%;
        margin: -64px 1% 0 1%;
    }
    .app-toolbar-container {
        display: none;
    }
}

@media (max-width:999px) and (min-width:521px) {
    .app-toolbar-container {
        display: none;
    }
}
