
.popApp-container {
    display: none;
}

.popApp-container-selected {
    display: block;
    z-index: -1;
    width: calc(88% - 2px);
    word-wrap: break-word;
    min-height: calc(100vh - 148px);

    margin: -64px 5% 0 5%;
    padding: 48px 1% 0 1%;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.app-toolbar-expander {
    bottom: 16px;
    right: 16px;
    height: 38px;
    background-color: whitesmoke;
    border: 1px solid darkgrey;
    border-radius: 25%;
    padding: 3px 3px 3px 3px;
    position: fixed;
    transform: scaleY(1);
    z-index: 90;
}

.app-toolbar-container {
    top: calc(124px + 5vh);
    right: calc(5% - 36px);
    bottom: unset;
    height: 42px;
    width: 36px;
    position: fixed;
    z-index: 90;
}

.app-toolbar-button {
    width: 38px;
    height: 38px;
    margin: 0 6px 0 6px;
    padding: 2px 2px 2px 2px;
}

.atb-selected {
    padding: 1px 1px 1px 1px;
    border-radius: 50%;
    border: 1px solid rgba(.1,.1,.1,.75);
    background-color: rgba(66, 222, 228, 0.5);
}

.journal-entry-head-divider {
    width: 30%;
    background-color: lightgrey;
    height: 1px;
    margin: 1.3em 2% 0 2%;
}

#popApp-journal-newsfeed {
    display: block;
    text-align: center;
}

#popApp-journal-newentry {
    display: none;
    margin-top: 1%;
    justify-content: space-around;
}

#popApp-journal-myentries {
    display: none;
}

#journal-new-entry-head {
    color:rgba(.1,.1,.1,.75);
    width: 40%;
    min-width: 270px;
    height: 38px;
    font-size: 28px;
    text-align: center;
    margin: 0 auto 16px auto;
    border: 0 solid black;
    border-radius: 5px;
}

#journal-new-entry-head::placeholder{
    font-size: 26px;
}

#journal-new-entry-head:focus{
    width: 40%;
    height: 38px;
    color: black;
    outline: unset;
    border-left: 2px solid #3498DB;
    border-right: 2px solid #3498DB;
    border-radius: 10px;
    background-color: rgba(.9,.9,.9,.025);
}

#journal-new-entry-body {
    width: 40%;
    min-width: 290px;
    display: flex;
    justify-content: space-around;
    height: 30vh;
    min-height: 250px;
    font-size: 14px;
    padding: 12px 6px 6px 6px;
    margin: 16px auto 32px auto;
    resize: vertical;
    white-space: pre-wrap;

    border-top: unset;
    border-bottom: unset;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    border-radius: 10px;
}

#journal-new-entry-body::placeholder{
    font-size: 16px;
}

#journal-new-entry-body:focus{
    outline: unset;
    border-left: 2px solid #3498DB;
    border-right: 2px solid #3498DB;
    border-radius: 10px;
    background-color: rgba(.9,.9,.9,.025);
}

#journal-new-entry-submit {
    width: 40%;
    min-width: 300px;
    height: 48px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    cursor: pointer;
    padding: 10px 0 10px 0;
    margin: 32px auto 64px auto;

    background-color: #3498DB;
    border: 3px solid #5DADE2;
    border-radius: 10px;
}

#journal-new-entry-submit:focus {
    color: black;
    outline: none;
    background-color: lightblue;
}

#journal-new-entry-img-container {
    width: 40%;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 16px 0;
    margin: 16px auto 48px auto;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 15px;
    border: 1px dashed lightgrey;

    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#journal-new-entry-img-container:hover {
    background-color: grey;
    opacity: 10%;
}

#journal-new-entry-img-upload {
    width: 0px;
}

.journal-new-entry-detail {
    width: 150px;
    color: grey;
    text-align: right;
    user-select: none;
}

.submit-error {
    background-color: rgba(203, 67, 53, .5);
}

.submit-error-msg {
    display: none;
    color: rgba(203, 67, 53, 1);
    text-align: center;
}

#journal-myentries {
    display: flex;
    min-width: 100%;
}

#journal-myentries-details {
    position: fixed;
    width: 25%;
    min-width: 200px;
    max-width: 300px;
    height: fit-content;
    margin-left: 3%;
    box-shadow: 1px 1px 3px lightgrey;
}

.journal-myentries-spacer {
    width: 48%;
    min-width: 200px;
    max-width: 350px;
}

#journal-myentries-details > p {
    margin: 3% 6px 3% 6px;
}

#journal-myentries-userinfo {
    font-size: 14px;
    margin: 6% 6px 14px 6px;
}

.journal-user-image {
    width: 86%;
    margin: 5% 5% 5% 5%;
    padding: 2% 2% 2% 2%;
    border-radius: 50%;
    box-shadow: 1px 1px 3px lightgrey;
}

#journal-myentries-feed {
    display: flexbox;
    width: 100%;
    margin: 0 3% 0 3%;
    padding: 0 1% 1% 1%;
    justify-content: center;
}

.journal-entry {
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 1.5% 0 1.5% 0;
    word-wrap: break-word;
    border-radius: 3px;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 10px lightgrey;
}

.journal-entry-expander {
    text-align: center;
    position: absolute;
    height: 64px;
    width: 100%;
    margin-top: -96px;
    padding-top: 68px;
    background: linear-gradient(
        to top,
        rgba(255,255,255,1) 50%,
        rgba(255,255,255,0) 75%
    );
}

.journal-entry-expander:hover {
    background: linear-gradient(
        to top,
        rgb(245,245,245,1) 50%,
        rgba(0,0,0,0) 100%
    );
}

.journal-entry-expander-img {
    width: 32px;
    height: 32px;
}

.journal-entry-img {
    width: 95%;
    margin: 0 2.5% 1.5% 2.5%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 3px 3px 10px lightgrey;
}

.journal-entry-head {
    text-align: center;
    font-size: 32px;
}

.journal-entry-type {
    display: flex;
    font-size: 11px;
    height: 18px;
    max-width: 18px;
    padding: 0 0 10px 2.5%;
}

.journal-entry-info {
    display: flex;
    justify-content: space-between;
}

.journal-entry-body {
    text-align: left;
    font-size: 16px;
    margin: 1% 5% 1% 5%;
    white-space: pre-wrap;
}

.journal-entry-body-long {
    overflow-y: hidden;
    max-height: 300px;
    text-align: left;
    font-size: 16px;
    margin: 1% 5% 32px 5%;
    white-space: pre-wrap;
}

.journal-entry-user {
    text-align: left;
    font-size: 12px;
    color: darkgrey;
    margin: 0 0 1% 5%;
}

.journal-entry-time {
    text-align: right;
    font-size: 12px;
    color: darkgrey;
    margin: 0 5% 1% 0;
}

#journal-myentries-followContainer {
    display: block;
    justify-content: center;
}

#journal-myentries-followTags {
    display: flex;
    margin: 3% 0 1.5% 0;
    font-size: 14px;
    justify-content: space-around;
}

#journal-myentries-followInfo {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-around;
}

#journal-newsfeed-container {
    display: block;
}

#journal-newsfeed-trends {
    display: block;
    width: 150px;
    margin: 2% 2% 20px 0;
    text-align: center;
}

#journal-trend-img {
    height: 80px;
    border-radius: 50%;
    border: 5px dashed whitesmoke;
}

#journal-trend-name {
    font-size: 18px;
    margin: 2% 0 2% 0;
}

#journal-feed-follow-btn {
    font-size: 14px;
    width: fit-content;
    color: whitesmoke;
    border-radius: 20px;
    background-color: #3498DB;
    border: 3px solid #5DADE2;
    padding: 3px 16px 3px 16px;
    margin: 3% auto 3% auto;
}

#journal-feed-follow-btn:focus {
    border-color: darkgrey;
    outline: none;
}

#journal-newsfeed-follow {
    display: block;
    width: 150px;
    margin: 2% 2% 2% 0;
    text-align: center;
}

#journal-newsfeed {
    display: block;
    min-height: 50vh;
    padding: 0 0 5% 200px;
}

#journal-sidefeed-container {
    min-width: 200px;
    max-width: 200px;
    position: fixed;
    text-align: center;
    top: 164px;
}

#journal-newsfeed-search {
    width: 100%;
    height: 28px;
    padding: 0 16px 0 16px;
    max-width: 300px;
    border-radius: 50px;
    margin: 0 auto 32px auto;
}

#journal-newsfeed-search:focus {
    outline: none;
}

#journal-newsfeed-search::placeholder {
    text-align: center;
}

@media (min-width:1000px) {
    .hideOnMobile {
        display: block;
    }
    .showOnMobile {
        display: block;
    }
    .app-toolbar-expander {
        display: none;
    }
    .app-toolbar-button {
        margin-bottom: 18px;
    }
}

@media (max-width:999px) {
    .hideOnMobile {
        display: none;
    }
    .showOnMobile {
        display: block;
    }
    .app-toolbar-container {
        top: unset;
        bottom: 64px;
        right: 16px;
        width: fit-content;
        padding: 3px 3px 3px 3px;
        max-width: 300px;
        background-color: whitesmoke;
        border: 1px solid darkgrey;
        border-radius: 10px;
    }
    #journal-myentries {
        display: block;
    }
    .journal-myentries-spacer {
        width: 0px;
        max-width: unset;
        min-width: unset;
    }
    .journal-entry {
        width: 100%;
        margin: 25px 0 0 1%;
        padding: 1.5% 0 1.5% 0;
    }
    #journal-myentries-details {
        position: unset;
        width: 90%;
        margin: 0 auto 0 auto;
        padding: 0 0 1% 0;
        min-width: unset;
        max-width: unset;
    }
    #journal-myentries-userinfo {
        text-align: center;
        width: fit-content;
        margin: 0 auto 14px auto;
    }
    .journal-user-image {
        width: 250px;
        margin: 14px 0 1% calc(48% - 125px);
    }
    #journal-myentries-feed {
        width: 98%;
        margin: 0 0 0 0;
        padding: 0 0 64px 0;
    }
    #journal-newsfeed-container {
        display: block;
    }
    #journal-newsfeed-search {
        margin: 0 auto 0 auto;
    }
    #journal-sidefeed-container {
        position: relative;
        display: flex;
        justify-content: space-around;
        height: fit-content;
        width: 100%;
        top: unset;
        padding-top: 18px;
        max-width: unset;
    }
    #journal-newsfeed-trends {
        width: 50%;
        max-width: 200px;
    }
    #journal-newsfeed-follow {
        width: 50%;
        max-width: 200px;
    }
    #journal-newsfeed {
        width: 100%;
        margin-left: -1.5%;
        padding: 2% 0 5% 0%;
    }
}

@media (max-width:520px) {
    .popApp-container-selected {
        width: 98%;
        margin: -64px 0 0 0;
        border-left: unset;
        border-right: unset;
    }
    .app-toolbar-expander {
        height: 28px;
    }
    .app-toolbar-container {
        bottom: 54px;
        padding: 1px 1px 1px 1px;
    }
    #journal-new-entry-head {
        width: 300px;
    }
}
