
.popApp-container {
    display: none;
}

.popApp-container-selected {
    display: block;
    z-index: -1;
    width: 90%;
    word-wrap: break-word;
    width: 88%;
    min-height: calc(100vh - 148px);

    margin: -64px 5% 0 5%;
    padding: 48px 1% 0 1%;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.app-toolbar-expander {
    bottom: 16px;
    right: 16px;
    height: 38px;
    background-color: whitesmoke;
    border: 1px solid darkgrey;
    border-radius: 25%;
    padding: 3px 3px 3px 3px;
    position: fixed;
    transform: scaleY(1);
    z-index: 90;
}

.app-toolbar-container {
    top: calc(124px + 5vh);
    right: calc(5% - 36px);
    bottom: unset;
    width: 36px;
    position: fixed;
    z-index: 90;
}

.app-toolbar-button {
    width: 38px;
    height: 38px;
    margin: 6px 6px 6px 6px;
    padding: 2px 2px 2px 2px;
}

.atb-selected {
    padding: 1px 1px 1px 1px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: lightgrey;
}

.journal-entry-head-divider {
    width: 100%;
    background-color: lightgrey;
    height: 1px;
    margin: 1.3em 2% 0 2%;
}

#popApp-journal-newsfeed {
    display: block;
}

#popApp-journal-newentry {
    display: none;
    margin-top: 1%;
}

#popApp-journal-myentries {
    display: none;
}

#journal-new-entry-head {
    color:rgba(.1,.1,.1,.75);
    width: 375px;
    height: 38px;
    font-size: 28px;
    text-align: center;
    margin: 0 0 16px 0;
    border: 0 solid black;
}

#journal-new-entry-head::placeholder{
    font-size: 26px;
}

#journal-new-entry-head:focus{
    color: black;
    outline: unset;
    border-radius: 10px;
    background-color: whitesmoke;
}

#journal-new-entry-body {
    width: calc(94% - 12px);
    height: 50vh;
    font-size: 14px;
    padding: 12px 6px 6px 6px;
    margin: 16px 3% 16px 3%;
    resize: vertical;

    border-top: unset;
    border-bottom: unset;
    border-left: 1px dashed darkgrey;
    border-right: 1px dashed darkgrey;
    border-radius: 10px;
}

#journal-new-entry-body::placeholder{
    font-size: 16px;
}

#journal-new-entry-body:focus{
    outline: unset;
    border-radius: 10px;
    background-color: whitesmoke;
}

#journal-new-entry-submit {
    width: 80%;
    height: 48px;
    font-size: 20px;
    color: grey;
    cursor: pointer;
    margin: 64px 10% 64px 10%;

    background-color: whitesmoke;
    border: 2px solid darkgrey;
    border-radius: 10px;
}

#journal-new-entry-submit:focus {
    color: black;
    outline: none;
    background-color: lightblue;
}

@media (max-width:520px) {
    .popApp-container-selected {
        width: 96%;
        margin: -64px 1% 0 1%;
    }
    #journal-new-entry-head {
        width: 300px;
    }
}

@media (min-width:1000px) {
    .hideOnMobile {
        display: block;
    }
    .showOnMobile {
        display: block;
    }
    .app-toolbar-expander {
        display: none;
    }
}

@media (max-width:999px) {
    .hideOnMobile {
        display: none;
    }
    .showOnMobile {
        display: block;
    }
    .app-toolbar-container {
        top: unset;
        bottom: 64px;
        right: 16px;
        width: fit-content;
        padding: 3px 3px 3px 3px;
        max-width: 300px;
        background-color: whitesmoke;
        border: 1px solid darkgrey;
        border-radius: 10px;
    }
}
