
.global-navbar {
    top: 0;
    z-index: 99;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 90%;
    margin: 0 5% 0 5%;
    padding-bottom: 10px;
    background-color: whitesmoke;
}

.global-navbar-divider {
    min-width: 90%;
    min-height: 1px;
    margin: 64px 5% 0 5%;
    background-color: lightgrey;
    position: fixed;
    z-index: 97;
}

.global-navbar-right {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 33%;
    max-width: 300px;
}

.global-navbar-left {
    display: flex;
    justify-content: left;
    width: fit-content;
    height: fit-content;
}

.global-navbar-button {
    margin: 4px 8px 8px 8px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.global-navbar-logo {
    margin-top: 8px;
    height: 48px;
    max-height: 10%;
    cursor: pointer;
}

.global-site-header {
    margin-top: 12px;
    cursor: pointer;
    user-select: none;
}

.global-navbar-menu-container {
    width: 90%;
    height: 0px;
    display: flex;
    position: fixed;
    z-index: 99;
    margin: 64px 5% 0 5%;
    justify-content: space-around;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.global-navbar-menu-spacer {
    width: 33%;
    max-width: 300px;
    height: 0px;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.global-navbar-menu {
    display: none;
    z-index: 99;
    width: 33%;
    max-width: 300px;
    height: fit-content;
    color: rgba(0,0,0,1);
    background-color: whitesmoke;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.global-navbar-menu-content {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
}

.global-navbar-menu-button {
    display:flex;
    height: 48px;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    color: black;
    padding: 8px 24px 8px 24px;
    cursor: pointer;
    border-bottom: 1px solid black;
    user-select: none;
}

.global-navbar-menu-button:hover {
    background-color: rgba(.1,.1,.1,.1);
}

.global-navbar-menu-footer {
    color: grey;
    font-size: 80%;
    text-decoration: none;
}

.global-navbar-menu-footer:hover {
    color: black;
    text-decoration: underline;
}

.global-navbar-menu-copyright {
    color: grey;
    font-size: 80%;
    text-decoration: none;
}

.global-navbar-inbox {
    overflow-y: auto;
    max-height: calc(100vh - 132px);
}

.global-navbar-inbox-search {
    height: 32px;
    width: 80%;
    min-width: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 6px;
    padding: 6px 6px 6px 6px;
}

.global-navbar-inbox-search::placeholder {
    text-align: center;
}

.global-navbar-inbox-search:focus::placeholder {
    color: transparent;
}

.global-navbar-inbox-search:focus {
    outline: none;
}

.global-navbar-inbox-msg {
    display: flex;
    justify-content: space-between;
    height: 10%;
    max-height: 64px;
    padding: 6px 6px 6px 6px;
    cursor: pointer;
    background-color: white;
    border-top: 1px solid lightgrey;
}

.global-navbar-inbox-msg:hover {
    background-color: rgba(.1,.1,.1,.1);
}

.global-navbar-inbox-msg-detail {
    width: 80%;
    user-select: none;
}

.global-navbar-inbox-msg-status {
    color: grey;
    width: 12%;
    margin: 5px 0 0 3px;
    text-align: center;
    font-size: 80%;
    user-select: none;
}

.global-navbar-pop {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 98;
    margin-top: 64px;
    position: fixed;
    background-color: white;
}

.global-navbar-popapp {
    max-width: 100px;
    font-size: 120%;
    color: rgba(180, 180, 180, 0.9);
    background-color: rgba(.2,.2,.2,.1);
    margin: 6px 12px 0 12px;
    padding: 4px 8px 4px 8px;
    border-radius: 50px;
    max-height: 24px;
    cursor: pointer;
    user-select: none;
}

.global-navbar-popapp-selected {
    font-size: 130%;
    color: rgba(50, 50, 50, 0.9);
    background-color: rgba(.2,.2,.2,.1);
    margin: 6px 12px 0 12px;
    padding: 5px 9px 5px 9px;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width:520px) {
    .global-site-header {
        display: none;
    }
    .global-navbar-right {
        display: flex;
        width: 50%;
    }
    .global-navbar {
        width: 100%;
        margin: 0 0 0 0;
    }
    .global-navbar-divider {
        min-width: 100%;
        margin: 64px 0 0 0;
    }
    .global-navbar-menu-spacer {
        width: 0px;
        max-width: 0px;
    }
    .global-navbar-menu-container {
        width: 100%;
        justify-content: center;
        margin: 64px 0 0 0;
    }
    .global-navbar-menu {
        width: 100%;
        max-width: unset;
    }
}

@media (max-width:999px) and (min-width:521px) {
    .global-navbar-menu-spacer {
        width: 0px;
        max-width: 0px;
    }
    .global-navbar-menu-container {
        width: 100%;
        justify-content: center;
        margin: 64px 0 0 0;
    }
    .global-navbar-menu {
        width: 90%;
        max-width: unset;
    }
}
