
hr {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.global-navbar {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    width: 100%;
    height: 48px;
    max-height: 10%;
}

.global-navbar-divider {
    width: 90%;
    height: 1px;
    margin: 12px 5% 8px 5%;
    background-color: darkgray;
}

.global-navbar-right {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 33%;
    max-width: 300px;
}

.global-navbar-left {
    display: flex;
    justify-content: left;
    width: fit-content;
    height: fit-content;
}

.global-navbar-button {
    margin: 4px 8px 8px 8px;
    width: 28px;
    height: 28px;
}

.global-navbar-logo {
    margin-top: 8px;
    height: 48px;
    max-height: 10%;
    pointer-events: none;
}

.global-site-header {
    margin-top: 12px;
}

.global-navbar-menu {
    display: none;
    width: 90%;
    padding: 0 5% 0 5%;
}

.global-navbar-menu-button {
    display:flex;
    height: 48px;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    color: black;
    padding: 8px 0 8px 0;
}

.global-navbar-menu-button:hover {
    background-color: rgba(.1,.1,.1,.1);
}

.global-navbar-menu-footer {
    color: grey;
    font-size: 80%;
    text-decoration: none;
}

.global-navbar-menu-footer:hover {
    color: white;
    text-decoration: underline;
}

.global-navbar-menu-copyright {
    color: grey;
    font-size: 80%;
    text-decoration: none;
}

.global-navbar-inbox {
    margin-bottom: -6px;
}

.global-navbar-inbox-search {
    height: 32px;
    width: 80%;
    min-width: 100px;
    text-align: center;
    box-sizing: border-box;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 6px;
    padding: 6px 6px 6px 6px;
}

.global-navbar-inbox-search::after {
    text-align: left;
}

.global-navbar-inbox-msg {
    display: flex;
    justify-content: space-between;
    height: 10%;
    max-height: 64px;
    padding: 6px 6px 6px 6px;
}

.global-navbar-inbox-msg:hover {
    background-color: rgba(.1,.1,.1,.1);
}

.global-navbar-inbox-msg-detail {
    width: 80%;
}

.global-navbar-inbox-msg-status {
    color: grey;
    width: 10%;
    text-align: center;
    font-size: 80%;
}

@media (max-width:520px) {
    .global-site-header {
        display: none;
    }
    .global-navbar-right {
        display: flex;
        width: 50%;
    }
}
